.App section {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: white
}

.App button {
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
}

.App .top {
    position: absolute;
    height: 75px;
    width: 350px;
    left: 75px;
    background-color: gray;
    top: 0;
}

.App .left {
    position: absolute;
    width: 75px;
    left: 0;
    height: 350px;
    margin: 75px 0 0 0;
    top: 0;
    background-color: gray
}

.App .stage {
    position: absolute;
    top: 75px;
    left: 75px;
    background-color: white;
    width: 350px;
    height: 350px;


}

.App .stage .pinkBox {
    position: absolute;
    background-color: pink;
    left: 125px;
    top: 125px;
}

.App .right {
    position: absolute;
    width: 75px;
    right: 0;
    height: 350px;
    margin: 75px 0 0 0;
    top: 0;
    background-color: gray
}

.App .bottom {
    position: absolute;
    height: 75px;
    width: 350px;
    left: 75px;
    background-color: gray;
    bottom: 0
}